body {
    background-color: black;
}
header {
    text-align: center;
    color: aliceblue;
    text-decoration: dashed;
}
main{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.texto{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1%;
}
.card {
    border-radius: 10%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 2%;
}
.card:hover{
    box-shadow:1px 3px 2px 2px aliceblue;
}
.botones{
    margin-top:4%;
    background-color: transparent;
    color: aliceblue;
    height: fit-content;
    width: 120px;
    border-radius: 10%;
    border-color: transparent;
}
.botoncito {
    margin-left: 49%;
    margin-right: 48%;
    margin-top: 3%;
    display: flex;
    text-align: center;
    font-size: x-large;
    background-color: transparent;
    color: aliceblue;
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
    border-color: transparent;
}
.botoncito:hover{
    box-shadow:1px 3px 2px 2px aliceblue;
}
.contenedorFinal {
    display: flex;
    flex-direction: row;
}
.modal-container {
    width: 50%;
    justify-content: space-between;
}
.resultado {
    width: 50%;
    margin: 5%;
    text-align: center;
    color: aliceblue;
}